/*
 * Empty Stylesheet file.
 */

.main{
    -fx-background-color: rgba(0, 0, 0, 0);
}
.dlabel{
        -fx-font-weight:bold;
        -fx-font-size:12px;
        -fx-text-fill:white;
    }
.mainFxmlClass {

   
}